<div class="container">

    <h3 class="text-center my-4 text-primary" >Add Books</h3>
    <form (ngSubmit)="onFormSubmit()">
        <div [ngStyle]="{'color': showMsgColor}" *ngIf="showMsg;"> {{ showMsg }} </div>
        <div class="col-sm-6 mt-3" >
            <label for="bookTitle">Enter Book Title </label>
            <input [(ngModel)]="newBook.title" class="form-control" type="text" id="bookTitle" name="bookTitle"
                placeholder="Book Title" />
        </div>

        <div class="col-sm-6 mt-3">
            <label for="bookAuthor">Enter Book Author </label>
            <input [(ngModel)]="newBook.author" class="form-control" type="text" id="bookAuthor" name="bookAuthor"
                placeholder="Book Author" />
        </div>

        <div class="col-sm-6 mt-3">
            <label for="bookDescription">Book Description </label>
            <input [(ngModel)]="newBook.description" class="form-control" type="text" id="bookDescription" name="bookDescription"
                placeholder="Book Description" />
        </div>


        <button type="submit" class="btn btn-success mt-5 col-sm-3"> Submit </button>

    </form>
</div>