<div class="container">

    <h3 class="text-center mt-4 text-primary" >All Books</h3>
    <table class="table my-3">
        <tr>            
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Borrowed By</th>
            <th>Edit</th>
            <th>Borrow</th>
            <th>Return</th>
            <th>Delete</th>
            <th></th>
        </tr>
        <tr *ngFor="let book of books">
            <td> {{ book.id}} | {{ book.title | titlecase }} </td>
            <td> {{ book.author | titlecase }} </td>
            <td> {{ book?.borrowedBy?.email || '-' }} </td>
            <td>
                <button class="btn btn-primary" (click)="editBook(book.id)">Edit</button>
            </td>
            <td>
                <button class="btn btn-success" (click)="borrowBook(book.id)"  [disabled]="book.borrowed">Borrow</button>
            </td>
            <td>
                <button class="btn btn-warning" (click)="returnBook(book)" [disabled]="!book.borrowed">Return</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteBook(book)">Delete</button>
            </td>
            <td>{{ book.showMsg }}</td>
        </tr>
    </table>
</div>
